@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #353535;
  box-sizing: border-box;
  line-height: 1.8em;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

nav {
  text-decoration: underline;
  font-family: "Lato";
  font-size: 1.5em;
  text-align: left;
  padding: 1.2em 4%;
  font-weight: 900;
}

section {
  padding: 0 0.2%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

h5 {
  font-style: italic;
}

p {
  color: #767676;
}

.card ul {
  width: 90%;
  list-style-position: inside;
}

section > ul {
  list-style-position: inside;
  padding: 0 0 0 1em;
  font-size: 1.3em;
  text-align: left;
}

section > ul ul {
  font-size: 0.9em;
  list-style-type: square;
}

section > ul ul,
li {
  padding: 0 2em 0.5em;
}

h1 {
  width: 100%;
  text-align: left;
  margin: 0.8em 0;
  font-size: 2.2em;
  padding-left: 0.5em;
  font-weight: 400;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2% 2em 2%;
}

.card * {
  padding: 1% 0;
}

img {
  width: 100%;
}

.card div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.description {
  font-size: 0.8em;
  position: relative;
  bottom: 0.03em;
}

@media (min-width: 480px) {
  .card {
    width: 50%;
  }
  img {
    margin-bottom: 3%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 33.3%;
  }
  img {
    margin-bottom: 6%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 25%;
  }
  img {
    margin-bottom: 6%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em 0.1em;
  border-radius: 0.4em;
  position: absolute;
  z-index: 1;
  width: 12em;
  bottom: 100%;
  left: 50%;
  margin-left: -6em;
  opacity: 0;
  transition: opacity 250ms;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.33em;
  border-width: 0.33em;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
